.works-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.works-grid .card {
    height: 25rem;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    overflow: hidden;
    background-size: cover;
}

.works-grid .card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works-grid .card .caption {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    position: absolute;
    height: 25%;
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.75);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: 450ms;
    padding: 2rem;
    text-align: center;
}

.works-grid .card .caption a {
    border-radius: 9999px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    border: 2px solid #fff;
    padding: 1rem;
    color: #fff;
    transition: 300ms;
    display: none;
}

.works-grid .card .caption a:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.works-grid .card .caption p {
    font-size: 1.5rem;
    display: none;
    text-align: center;
    margin: 2rem;
    flex: 1;
    overflow: hidden;
}

.works-grid .card:hover .caption a {
    display: block;
}

.works-grid .card:hover .caption h1 {
    color: var(--accent);
    font-size: 3rem;
}

.works-grid .card:hover .caption {
    width: 100%;
    height: 100%;
}

.works-grid .card:hover .caption p {
    display: inline;
}

@media (max-width: 48rem) {
    .works-grid {
        display: flex;
        flex-direction: column;
    }
    .works-grid .card {
        width: 100%;
        height: 60vmin;
    }
    .works-grid .card .caption {
        font-size: 4vw;
    }
    .works-grid .card .caption p {
        font-size: 3vw;
    }
    .works-grid .card .caption a {
        font-size: 3vw;
        border-width: 1px;
    }
    .works-grid .card:hover .caption h1 {
        font-size: 6vw;
    }
}

@media (max-width: 22rem) {
    .works-grid .card .caption {
        justify-content: space-evenly;
    }
    .works-grid .card:hover .caption p {
        display: none;
        overflow: hidden;
        margin: 0;
    }
    .works-grid .card:hover .caption a {
        padding: .5rem;
    }
}