@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
    --primary-text: #00FF8A;
    --secondary-text: #FFF;
    --background-color: #121212;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    font-family: 'Quicksand', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--primary-text);
}

.headline-container {
    height: 100%;
    background: url("../assets/images/main_image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline-container h1 {
    font-size: 4em;
}

.headline-container p {
    font-size: 2em;
}

.headline-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.social-holder i {
    padding-right: 24px;
    font-size: 2em;
}

.primary-text {
    color: var(--primary-text);
}

.secondary-text {
    color: var(--secondary-text);
}

.preloader {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #121212;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
}

.loader::after, .loader::before {
    content: '';
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: rotation 2s ease-in-out infinite;
}

.loader::after {
    border-color: var(--primary-text);
    animation-delay: 1s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fadeOut {
    animation: fadeOut ease 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#about h1 {
    font-size: 3em;
}

#about p {
    font-size: 1.5em;
    text-align: justify;
}