#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 2rem 0;
}

#main img {
    width: 25%;
    padding: 3rem;
    height: auto;
}

#main .heading-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main .heading {
    font-style: italic;
    line-height: 1.5;
}

#main .heading h3 {
    font-size: var(--font-h3);
    font-style: italic;
    color: var(--accent);
    opacity: .25;
}

#main .heading .title {
    padding: 0 5rem;
}

#main .heading .title h2 {
    font-size: var(--font-h2);
}

#main .heading .title h4 {
    text-align: center;
}

#main .heading .title span {
    font-size: 1rem;
    color: var(--accent);
    opacity: .25;
}

#main .heading .title .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main .link-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .link-icons :not(:last-child) {
    margin-bottom: 3rem;
}

#main .link-icons a {
    font-size: var(--font-h2);
}

@media (max-width: 90rem) {
    #main {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    #main .link-icons {
        flex-direction: row;
        margin: 3rem 0;
    }
    #main .link-icons :not(:last-child) {
        margin-bottom: 0;
        margin-right: 3rem;
    }
}

@media (max-width: 70rem) {
    #main .heading-wrapper {
        flex-direction: column;
    }
    #main img {
        width: 35vmax;
        height: 35vmax;
    }
    #main .heading .title {
        padding: 0 5vw;
    }
    #main .heading h3 {
        font-size: 4.5vw;
    }
    #main .heading .title h2 {
        font-size: 5vw;
    }
    #main .heading .title h4 {
        font-size: 3.75vw;
    }
    #main .heading .title span {
        font-size: 3vw;
    }
}