nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: 1s;
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #eeffff;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav.black {
    background: #000;
}

nav .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #eeffff;
    font-size: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 48px;
    background: url("../assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 16px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media (max-width: 580px){

    nav {
        background: #000;
    }

    .navbar {
        flex-direction: column;
    }

    .showing {
        max-height: 20em;
    }

    nav ul {
        max-height: 0;
        transition: 1s;
    }

    nav ul li {
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    .menu-icon {
        display: inline-block;
    }

}