nav {
    position: fixed;
    width: 100vw;
    padding: 2rem 5%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    transition: 450ms;
}

nav .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .hamburger-menu {
    font-size: 2rem;
    display: none;
}

nav.opaque {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
}

nav h1 {
    user-select: none;
    font-size: 2rem;
}

nav h1::before {
    content: '{} Domenico Mancini';
}

nav ul {
    font-weight: 100;
    display: flex;
}

nav ul :not(:last-child) {
    margin-right: 2rem;
}

nav ul li a {
    font-size: var(--font-h6);
}

@media (max-width: 75rem) {
    nav {
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(25px);
    }
    nav ul {
        margin-top: 2rem;
        width: 100%;
        flex-direction: column;
        text-align: center;
        display: none;
    }
    nav ul.shown{
        display: block;
    }
    nav ul :not(:last-child) {
        width: 100%;
        margin-right: 0;
    }
    nav ul li a {
        padding: 1rem;
        width: 100%;
        display: block;
        transition: 450ms;
    }
    nav ul li a:hover {
        color: #000;
        background: var(--accent);
        font-weight: 400;
        transform: scale(1.1);
    }
    nav h1::before{
        content: '{DM}';
    }
    nav .hamburger-menu {
        display: block;
        transition: 300ms;
    }
    nav .hamburger-menu:hover{
        color: var(--accent);
    }
    nav .navigation {
        width: 100%;
    }
}