nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: 1s;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0; 
    text-align: center;
    align-items: center;
}

nav.opaque {
    background: var(--theme-color);
}

nav .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    transition: .2s;
}

nav ul li a:hover {
    color: var(--text-accent);
}

nav.opaque ul li a {
    color: var(--text-main);
}

nav.opaque ul li a:hover {
    color: var(--text-accent);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 48px;
    background: url("../assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 16px 24px;
    cursor: pointer;
    color: var(--text-main);
    display: none;
}

@media (max-width: 580px){

    nav {
        background: var(--theme-color);
    }

    .navbar {
        flex-direction: column;
    }

    .showing {
        max-height: 20em;
    }

    nav ul {
        display: block;
        max-height: 0;
        transition: 1s;
    }

    nav ul li {
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }

    nav ul li a {
        color: var(--text-main);
    }

    .menu-icon {
        display: inline-block;
    }

}