.content {
    width: 90%;
    margin: 4em auto;
    text-align: justify;
}

.no-select {
    user-select: none;
}

.no-overflow {
    overflow: hidden;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    margin: auto;
}

.fadeOut {
    animation: fadeOut ease 1s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}