@use 'core';

footer {
    font-family: var(--h-fs);
    background: var(--black-color);
    color: rgba(var(--white-color-rgb), 0.5);
    font-style: italic;
    font-size: var(--font-h4);
    padding: 2rem;

    .actual-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        overflow: hidden;

        img {
            width: 6rem;
            height: 6rem;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-family: var(--h-fs);
                color: var(--white-color);
                font-style: normal;
            }

            & > :not(:last-child) {
                margin-bottom: 2rem;
            }

            .link-icons {
                display: flex;
                flex-direction: row;
                font-size: var(--font-h2);
                align-items: center;

                & > :not(:last-child) {
                    margin-right: 3rem;
                }
            }
        }

        .goto-top {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                font-weight: 100;
                color: var(--accent-color);
                opacity: 0.25;
                font-size: 1vmax;
            }

            a {
                font-size: 2.5vmax;
                padding: 0.5rem 2rem;
            }

            h1 {
                line-height: 2;
                color: var(--white-color);
                font-weight: 100;
                font-size: 1.5vmax;
            }
        }

        @media (max-width: 70rem) {
            justify-content: space-evenly;

            .goto-top {
                display: none;
            }
        }

        @media (max-width: 48rem) {
            flex-direction: column;

            img {
                margin-bottom: 3rem;
            }

            .content p {
                font-size: 2vmax;
            }
        }
    }
}
