@use 'core';

#contact-me {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: opacify(core.$black-color, .95);
    z-index: 10000;
    padding: 8vmin;
    font-style: italic;
    font-size: var(--font-h2);

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        opacity: 0.5;
    }

    i {
        transition: 350ms;
        &:hover {
            color: core.$accent-color;
        }
    }

    form {
        padding: 2vmin;
        display: flex;
        flex-direction: column;

        ::placeholder {
            color: core.$white-color;
            opacity: 0.5;
        }

        & > :not(:last-child) {
            margin-bottom: 2vmin;
        }
    }

    input[type="text"], input[type="email"], textarea {
        caret-color: core.$accent-color;
        color: core.$white-color;
        font-family: core.$heading-font;
        font-weight: 400;
        background: core.$background-color;
        font-size: 3vmin;
        border: none;
        padding: 1rem 2rem;
        transition: 350ms;

        &:focus {
            border: 2px solid core.$accent-color;
        }
    }

    textarea {
        min-height: 30vh;
        border-radius: 2rem;
        resize: none;
    }

    button {
        padding: 4vmin;
        font-family: core.$heading-color;
        font-size: var(--font-h6);
        color: core.$white-color;
        border: 2px solid core.$white-color;
        background: transparent;
        transition: 350ms;
        background: core.$black-color;
        margin-top: 6vmin;

        &:focus {
            border: 2px solid core.$accent-color;
            color: core.$accent-color;
        }

        &:hover {
            background: core.$accent-color;
            color: core.$black-color;
            border-color: core.$accent-color;
        }
    }

    @media (max-width: 22rem) {
        font-size: 2rem;
    }
}