@use 'reset';
@use 'utility';
@use 'customScrollbar';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400&family=Montserrat:wght@100;400;700&display=swap');

$heading-font: 'JetBrains Mono', monospace;
$text-font: 'Montserrat', sans-serif;

$background-color: #121212;
$accent-color: #00FFA4;
$learning-color: #FF9900;
$basic-color: #fff;

$black-color: #000;
$white-color: #fff;

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    --font-p: 1rem;
    --font-h6: 1.5rem;
    --font-h5: 1.75rem;
    --font-h4: 2rem;
    --font-h3: 2.5rem;
    --font-h2: 3rem;
    --font-h1: 3.5rem;

    @media (max-width: 70rem) {
        --font-p: .75rem;
        --font-h6: 1rem;
        --font-h5: 1.25rem;
        --font-h4: 1.5rem;
        --font-h3: 2rem;
        --font-h2: 2.5rem;
        --font-h1: 3rem;
    }
}

a {
    cursor: pointer;
}

/*
p, a {
    font-size: var(--font-p);
}

h6 {
    font-size: var(--font-h6);
}

h5 {
    font-size: var(--font-h5);
}

h4 {
    font-size: var(--font-h4);
}

h3 {
    font-size: var(--font-h3);
}

h2 {
    font-size: var(--font-h2);
}

h1 {
    font-size: var(--font-h1);
}
*/

::selection {
    color: $background-color;
    background: $white-color;
}