@use 'core';

#is {
    p {
        font-family: core.$text-font;
        font-size: var(--font-h6);
        font-weight: 100;
        padding: 1rem;
        line-height: 1.2;
        text-align: justify;
    }

    img {
        width: 16rem;
        height: 16rem;
        object-fit: cover;
        margin-left: 4rem;
        filter: grayscale(100%);

        @media (max-width: 70rem) {
            width: 12rem;
            height: 12rem;
        }

        @media (max-width: 48rem) {
            margin-left: 0;
            margin-bottom: 2rem;
        }
    }

    .presentation {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        padding: 0 5%;

        @media (max-width: 48rem) {
            flex-direction: column;
        }
    }
}