@use 'core';

nav {
    position: fixed;
    width: 100vw;
    padding: 2rem 5%;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    transition: 450ms;

    h1 {
        user-select: none;
        font-size: var(--font-h4);

        &::before {
            content: "{} Domenico Mancini";
        }
    }

    ul {
        font-weight: 100;
        display: flex;

        & > :not(:last-child) {
            margin-right: 2rem;
        }

        li a {
            font-size: var(--font-h6);
        }
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-menu {
        font-size: var(--font-h4);
        display: none;
    }

    &.opaque {
        background: rgba(var(--black-color-rgb), .5);
        backdrop-filter: blur(1.5rem);
    }

    @media (max-width: 75rem) {
        flex-direction: column;
        background: rgba(var(--black-color-rgb), .5);
        backdrop-filter: blur(1.5rem);
        padding: 1rem;

        h1::before {
            content: "{DM}";
        }

        ul {
            margin-top: 2rem;
            width: 100%;
            flex-direction: column;
            text-align: center;
            display: none;

            &.shown {
                display: block;
            }

            > :not(:last-child) {
                width: 100%;
                margin-right: 0;
            }

            li a {
                padding: 1rem;
                width: 100%;
                display: block;
                transition: 450ms;

                &:hover {
                    color: var(--black-color);
                    background: core.$accent-color;
                    font-weight: 400;
                    transform: scale(1.1);
                }
            }
        }

        .navigation {
            width: 100%;
        }

        .hamburger-menu {
            display: block;
            transition: 300ms;

            &:hover {
                color: core.$accent-color;
            }
        }
    }
}
